<h1 align="center"> Get a fancy cocktail </h1>


<div class=“container”>
<ul>
  <% @cocktails.each do |cocktail| %>
    <li> <%= link_to cocktail.name, cocktail_path(cocktail) %>
    </li>
   <% end  %>
   <p align="center"><%= link_to "Add a cocktail", new_cocktail_path %></p>
 </ul>
</div>


